body
{
    background-color: white;
    margin-top: 50px;
}
/*Menu navbar logo*/
/* The side navigation menu */
.menuButton
{
  position: fixed;
  z-index: 1;
  opacity: 0.8;
  color: white;
  background-color: #31d843;
  border: none;
  font-size:60px;
  left: 10px;
  top:5px;
  cursor: pointer;
}
.menuButton:hover
{
    color: #aaffe5  
}
#gora
{
    right: 30px;
    bottom: 30px;
    position: fixed;
    font-size: 45px;
    background-color:#31d843;
    color: white;
    border:none;
    border-radius: 10px;
    opacity: 0.8;
    z-index: 1;
    cursor: pointer;
}
#gora:hover
{
    color: #aaffe5;
}
.sidenav {
    height: 100%; 
    width: 0; 
    position: fixed;
    z-index: 2; 
    top: 0; 
    left: 0;
    background-color:#31d843;
    overflow-x: hidden; 
    padding-top: 60px; 
    transition: 0.5s;
    padding-top: 100px;
  }
  
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
    white-space: nowrap;
  }
  .fb
  {
      float: left;
  }
  .fb i
  {
      font-size: 50px;
  }
  .fb i:hover
  {
      color: blue;
  }
  .ig
  {
      text-align: center
  }
  .ig i
  {
      font-size: 50px;
      
  }
  .ig i:hover
  {
      color: pink;
  }
  .sidenav li
  {
      display: none;
  }
  
 
  .sidenav a:hover {
    color: #aaffe5;
  }
  
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    
  }
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  } 
 
/*zawartość Główna*/
#zawartosc
{
    background-color:white;
}
#zawartosc h2
{
    color: black;
    margin-bottom: 30px;
}
.contentfirst
{
    border-bottom: 1px dotted black;
    text-align: justify;
    color: green;
    margin: 20px 10px 20px 10px;
    padding: 10px 20px;
    font-family: 'Times New Roman', Times, serif;
}
.content
{
    border-bottom: 1px dotted black;
    text-align: justify;
    color: green;
    margin: 20px 10px 20px 10px;
    padding: 10px 20px;
    font-family: 'Times New Roman', Times, serif;;
}
.contentlast
{
    text-align: justify;
    color: green;
    margin: 20px 10px 20px 10px;
    padding: 10px 20px;
    font-family: 'Times New Roman', Times, serif;
}
#collapsibleNavbar ul li a
{
    font-size:20px;
    margin-right: 20px;
}
/*lightbox*/
.rowlight > .column {
    padding: 0 8px;
    text-align: center;
  }
  
  .rowlight:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Create four equal columns that floats next to eachother */
  .column {
    float: left;
    width: 33.3%
  }
  
  /* The Modal (background) */
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #31d843;
    
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1200px;
  }
  
  /* The Close Button */
  .close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* Hide the slides by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Caption text */
  .caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
  }
  
  img.demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }
  
  img.hover-shadow {
    transition: 0.3s;
  }
  
  .hover-shadow:hover {
      cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
 
/*footer*/
.jumbotron
{
  background-color: #55aa28;
  margin-bottom: 0px;
  margin-top:50px;
  
  
}
 

/*Rozdzielczosć*/
@media only screen and (max-width:767px)

{
    .sidenav a
    {
    font-size: 20px
    }
    .fb i
  {
      font-size: 45px;
  }
    .ig i
  {
      font-size: 45px;
  }
    .menuButton
    {
        font-size: 40px;
    }
    .contentfirst
    {
        font-size: 12px;
        margin: 10px 20px 10px 20px;
        padding: 5px 10px;
    }
    .content
    {
        font-size: 12px;
        margin: 10px 20px 10px 20px;
        padding: 5px 10px;
    }
    .contentlast
    {
        font-size: 12px;
        margin: 10px 20px 10px 20px;
        padding: 5px 10px;
    }
    .jumbotron
    {
        font-size: 10px;
    }
    #gora
    {
        right: 10px;
        bottom: 10px;
        font-size: 30px;
    }
    .column
    {
        float: none;
        margin-left: 30%;
        margin-bottom: 50px;
    }
   
}
@media only screen and (min-width:768px)and (max-width:980px)
{
   
#gora
    {
        right: 12px;
        bottom: 12px;
    }

}
@media only screen and (min-width:981px)
{


}
